
@include fontFace('Dense','../fonts/Dense-Regular');
@include fontFace('Baron','../fonts/Baron-Neue');


html {
	height: 100%;
}

a {
	color: #2A1A14;
}

p {
	margin: 0 0 5px;
	line-height: 1.4;
}

ul {
	margin: 0 0 5px;
}

h1 {
	font-family: Baron;
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	h1 {
		font-size: 3em;
	}
}

h2 {
	font-family: Baron;
	font-size: 3em;
	margin: 50px auto;
	text-align: center;
}

h3 {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	color: #2A1A14;
	height: 100%;
}

#header {
	background: transparent url(../img/bg.jpg) 0 0 no-repeat fixed;
	background-size: cover;
	color: #ffffff;
	font-family: Dense;
	font-size: 3em;
	padding: 0;
	text-transform: uppercase;

	.span_12 {
		text-align: center;

		img {
			max-width: 100%;
		}
	}

	.row {
		margin: 80px auto 150px;
	}

	.row:first-child {
		margin: auto;
		padding-top: 35px;
	}

}


#main {
	background: #EDE8EB;
	border-top: 25px solid #CEBAB7;
	padding: 70px 0;

	.gutters {
		p {
			margin: 70px 0;
			&::first-letter {
				float: left;
				font-family: Dense;
				font-size: 3em;
				margin: -7px 5px -7px 0;
			}
		}
	}
}

.timetable {
	ul {
		margin-bottom: 10px;
	}

	span {
		display: inline-block;
		font-weight: bold;
		width: 57px;
	}
}

.centered {
	text-align: center;
}

#locaties {
	background: #DDDCDD;
	border-top: 25px solid #CEBAB7;
}

#locatie {
	height: 450px;
	margin-top: 50px;
}

#sponsors {
	background: #FFD8E4;
	border-top: 25px solid #CF996E;
	padding-bottom: 50px;
}

#deelnemers {
	background: #AEC7D2;
	border-top: 25px solid #918867;
	padding-bottom: 50px;
}

table {
	width: 100%;

	caption {
		font-weight: bold;
		padding: 5px;
	}

	th {
		font-weight: bold;
	}

	th,
	td {
		padding: 5px;
		width: 50%;
	}
}

.button {
	border: 3px solid #ffffff;
	color: #ffffff;
	display: inline-block;
	margin: 75px 0;
	padding: 10px 25px;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.3);

	&:hover {
		border-color: #DDDCDD;
		color: #DDDCDD;
	}
}

.inverse {
	.button {
		border: 3px solid #000;
		color: #000;
		display: inline-block;
		margin: 15px 0;
		padding: 10px 25px;
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.3);

		&:hover {
			border-color: #222322;
			color: #222322;
		}
	}
}

.darken {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}
